
:root {
  --blue: #456268;
  --green: #132709;
  --orange: #c1946d;
  --red: #3b0f0d;
  --dark: #757d74;
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

body {
  background: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
}

main {
  display: flex;
  padding: 0;
  height: 100vh;
  min-height: 100%;
  max-width: 100%;
  align-items: center;
  justify-content: center;
}
.main {
  background: #00010a;
  border-radius: 15px;
  width: 500px;
}

.headerbar {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #010109;
  color: white;
}

.headerbar form {
  width: 500px;
  padding: 0;
  margin-top: 6px;
}

.search * {
  transition: 200ms ease-in-out;
  width: 440px;
  padding: 20px 30px;
  border: none;
  background: #010109;
  color: #cfcec6;
  font-size: 20px;
  outline: transparent 2px solid;
}

.search input:hover, .search input:active, .search input:focus {
  box-shadow: 0 10px 10px -10px rgb(34, 34, 34);
  background: #010109;
}

.search input:active {
  outline: transparent 2px solid;
}

.search input:focus {
  transition-delay: 0.1s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  outline: var(--blue) 2px solid;
  transform: scale(1.1);
  border-radius: 10px;
  background: #010109;
}

#clock {
  font-size: 20px;
  margin: 20px;
}

.sites {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.site {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--dark);
  text-decoration: none;
  color: white;
  border-radius: 15px;
  width: 48.69%;
  margin: 3px;
  height: 40px;
}

.bigsite {
  width: 100% !important;
}

.site:focus {
  outline: #ffffff 2px solid;
}

.site span {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  padding: 10px;
}

.site img {
  width: 18px;
  height: 18px;
  color: white;
  padding: 11px;
  background: rgba(0, 0, 0, .3);
  border-radius: 0px 15px 15px 0px;
}

.site.green {
  background: var(--green);
}

.site.orange {
  background: var(--orange);
}

.site.blue {
  background: var(--blue);
}

.site.red {
  background: var(--red);
}

.site.gnome {
  background: var(--blue);
}